<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Tragopan</title>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/home-styles.css">
</head>

<body>
  <div class="Navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Tragopan</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home<span class="sr-only"></span></a>
          <a class="nav-item nav-link" href="register">Register</a>
          <a class="nav-item nav-link" href="login">Login</a>
        </div>
      </div>
    </nav>
  </div>
  <div >
    <img class="image" src="images/foodhands.png" alt="">
  </div>
<h1 class="head-desc">The Higher Taste</h1>

  <section  class="" id="">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 ht-item">
          <i class="fa-solid fa-circle-check feature-icon fa-5x"></i>
          <img class="higherimg" src="images/highertaste.png" alt="">
        </div>

        <div class="col-lg-6 ht-item">
          <i class="fa-solid fa-bullseye feature-icon fa-5x"></i>
          <h3 class="ht-desc" >Asian Cuisines & Beverages</h3>
          <p class="ht-desc" style="color: #F37878">Each and every day we strive to better serve our community, customers with food that's fresh, tasty and healthy. Sumptuous delicious food baked in our cafe with curated ingredients and recipes
Savour the creamy goodness of Champion Fruit Cream. We bet, there's the goodness of cream in every bite!</p>
        </div>

      </div>
  </section>

<hr class="hrule">
<footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="index.js" charset="utf-8"></script>
</footer>
</body>

</html>
